.abcl-author-icon {
    width: 35px;
    height: 35px;
    background: #000;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}